* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p,
a {
    margin: 0;
    padding: 0;
}



header {
    height: 90px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.nav-logo {
    padding: 35px;
    cursor: pointer;
}

.nav-logo img {
    height: 19px;
    width: 220px;
}

.nav-items {
    position: relative;
    right: -30px;
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    gap: 30px;
    height: 50px;
    padding: 20px 0;
}

.nav-items ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-items ul li {
    color: #1B1A1A;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}


.nav-items button {
    background: #1B1A1A;
    color: white;
    width: 155px;
    height: 46px;
    top: 2px;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-items button:hover {
    transform: scale(1.1);
}



/*hero container*/
.hero-container {
    background: #ECE7E4;
    height: 720px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info {
    position: relative;
    top: 70px;
    max-width: 600px;
    width: 100%;
    height: 560px;
    margin: 0 120px;
}

.hero-info h2 {
    letter-spacing: 2px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    width: 190px;
    color: #645C55;
}

.hero-info h1 {
    color: #1B1A1A;
    margin: 20px 0;
    line-height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    width: 400px;
}


.hero-info p {
    color: #403E3B;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    width: 510px;
}

.hero-btn {
    margin: 20px 0;
    width: 130px;
    align-items: center;
}

.hero-btn .btn,
.featured-projects-btn {
    width: 130px;
    height: 45px;
    padding: 12px;
    cursor: pointer;
    background: #ECE7E4;
    border: 0;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.4px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.hero-btn .btn:hover,
.featured-projects-btn:hover,
.meet-our-team-btn:hover,
.readmore:hover,
.get-in-touch-l button:hover {
    color: white;
    transform: scale(1.1);
    background: #1B1A1A;
}

.our-firm-container {
    margin: 100px auto;
    max-width: 760px;
    width: 100%;
    height: 580px;
}

.our-firm {
    display: flex;
    justify-content: space-between;
}

.our-firm h2 {
    color: #403E3B;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    width: 134px;
    height: 38px;
}

.our-firm-text p {
    color: #403E3B;
    margin-bottom: 20px;
    align-items: flex-end;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    width: 490px;
    height: 140px;


}

.our-firm-partner {
    gap: 20px;
    align-items: center;
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 100px;

}

.our-firm-partner-name h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 26px;


}

.our-firm-partner-name p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;


}


.reeding-house {
    width: 100%;
    height: 600px;
    background-image: url(img/Frame.png);
}

.our-process {
    padding: 80px 0;
}

.our-process-top {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 80px;
    margin: 0 auto;
    align-items: center;
}

.our-process-top h3 {
    width: 120px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #645C55;
}

.our-process-top h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39px;

    line-height: 42px;
    color: #1B1A1A;
    width: 460px;
    height: 40px;

}

.process-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    width: 100%;
    height: 250px;
    text-align: center;

}

.card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    line-height: 26px;

    text-align: center;

    width: 88px;
    height: 26px;
    margin: 5px auto;


}

.process-cards h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;

    line-height: 26px;
    color: #403E3B;

    width: 80px;
    height: 25px;

}

.process-cards p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    line-height: 24px;

    width: 290px;
    height: 96px;



}


.marble-staircase {
    width: 100%;
    height: 600px;
    background-image: url(img/Frame\ \(1\).png);
}



.happy-customers {
    background: #403E3B;
    width: 100%;
    height: 410px;
}

.happy-customers-div {
    max-width: 1200px;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    gap: 160px;
    padding: 50px 80px;

}


.happy-customers-left {
    width: 450px;
    height: 150px;
}

.happy-customers-left h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

    line-height: 20px;
    letter-spacing: 2px;

    width: 130;
    height: 20;
    color: white;

}

.happy-customers-left h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: white;
    line-height: 38px;

    width: 300;
    height: 40;
    margin-bottom: 20px;

}

.happy-customers-left p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    line-height: 24px;

    width: 450;
    height: 70;

    color: white;

}

.happy-customers-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 430px;
    height: 280px;
}

.swirling-staircase {
    width: 100%;
    height: 600px;
    background-image: url(img/Frame\ \(2\).png);
}

.featured-projects {
    width: 100%;
    height: 910px;
    background: #F7F7F7;
}

.featured-projects-div {
    width: 1200px;
    height: 700px;
    padding: 80px 140px;
}

.featured-projects-div h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39px;

    line-height: 42px;

    width: 350px;
    height: 40px;

    color: #1B1A1A;
    margin-bottom: 20px;
}

.featured-projects-div h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

    line-height: 30px;

    width: 580px;
    height: 60px;

    color: #645C55;
    margin-bottom: 50px;
}

.featured-projects-img {
    display: flex;
    gap: 20px;
    position: relative;
    display: inline-block;
}

.readmore {
    background: #1B1A1A;
    width: 130px;
    height: 46px;

    border-radius: 14px;
    position: absolute;
    top: 80%;
    left: 35%;
    z-index: 2;
    cursor: pointer;
    color: white;
    border: none;
    transition: all 0.3s ease;


}

.featured-projects-btn {
    background: none;
    width: 180px;
    height: 46px;
    display: block;
    margin: 40px auto 0;
}

.meet-our-team {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 400px;
    gap: 30px;
    padding: 80px 140px;
}


.meet-our-team-right {
    width: 380px;
    height: 400px;
}

.meet-our-team-right h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;

    line-height: 38px;

    width: 240px;
    height: 40px;
    color: #403E3B;
    margin-bottom: 20px;


}

.meet-our-team-right p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    line-height: 24px;

    width: 360px;
    height: 70px;

    color: #645C55;
}

.meet-our-team-btn {
    width: 120px;
    height: 46px;
    display: block;
    padding: 16px;
    left: 10px;
    top: 30px;
    border: none;
    position: relative;
    background: white;
    transition: all 0.3s ease;
    border-radius: 5px;

}

.meet-our-team-left {
    width: 780px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.meet-our-team img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    flex-shrink: 0;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.meet-our-team1,
.meet-our-team2,
.meet-our-team3,
.meet-our-team4,
.meet-our-team5 {
    display: flex;
    width: 290px;
    height: 100px;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.column-text {
    display: flex;
    flex-direction: column;
}


.get-in-touch {
    max-width: 1440px;
    height: 314px;
    background: #CEC4BC;
}

.get-in-touch-container {
    width: 1200px;
    height: 114px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 140px;
    justify-content: space-between;

}

.get-in-touch-r h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

    line-height: 20px;
    letter-spacing: 2px;

    width: 124px;
    height: 20px;

    color: #645C55;

}

.get-in-touch-r h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

    line-height: 42px;

    color: #1B1A1A;
    width: 568px;
    height: 84px;


}

.get-in-touch-l button {
    width: 144px;
    height: 46px;
    color: #1B1A1A;
    border: none;
    background: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    line-height: 24px;
    letter-spacing: 0.4px;
    transition: all 0.3s ease;

}

footer {
    width: 1440px;
    height: 204px;

    background: #F7F7F7;
}

.footer-container {
    width: 1200px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    padding: 50px 140px;
}

.container-l {
    width: 690px;
    height: 84px;

}

.container-l img {
    margin-bottom: 16px;
}

.container-l p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

    line-height: 20px;

    color: #645C55;
}

.footer-img {
    position: relative;
    top: 50px;
    width: 112px;
    height: 24px;
    gap: 14px;
    display: flex;

}